version: 1

name: {{ project.name }}
description: {{ project.description }}
{% if project_configuration -%}
    {{ "configuration:" }}
    {% for line in project_configuration.split('\n') -%}
        {{ "  " ~ line }}
    {% endfor -%}
{% endif %}

db:
{{ "  provider: " ~ project.dbConfig.provider }}
{% if project.dbConfig.configs -%}
    {{ "  configuration:" }}
    {% for key, value in project.dbConfig.configs.items() -%}
        {{ "    " ~ key ~ ": " ~ value }}
    {% endfor -%}
{% endif %}

{% if project.embeddingConfig -%}
embedding:
{{ "  provider: " ~ project.embeddingConfig.provider }}
{% if project.embeddingConfig.configs -%}
    {{ "  configuration:" }}
    {% for key, value in project.embeddingConfig.configs.items() -%}
        {{ "    " ~ key ~ ": " ~ value }}
    {% endfor -%}
{% endif %}

{% endif -%}

{% if project.embeddingStoreConfig -%}
embedding_store:
{{ "  provider: " ~ project.embeddingStoreConfig.provider }}
{% if project.embeddingStoreConfig.configs -%}
    {{ "  configuration:" }}
    {% for key, value in project.embeddingStoreConfig.configs.items() -%}
        {{ "    " ~ key ~ ": " ~ value }}
    {% endfor -%}
{% endif %}

{% endif -%}

llms:
{{ "  - name: default" }}
{{ "    provider: " ~ project.llmConfig.provider }}
{% if project.llmConfig.configs -%}
    {{ "    configuration:" }}
    {% for key, value in project.llmConfig.configs.items() -%}
        {{ "      " ~ key ~ ": " ~ value }}
    {% endfor -%}
{% endif %}

agents:
{{ "  - name: default" }}
{{ "    description: default ask data agent" }}
{{ "    provider: default" }}
{{ "    #semantic_models: # (List<String>, [Optional]) If semantic model names is specified here, the specified semantic models will be given as the context to the LLM." }}
{{ "      #- covid_cases  # You need to fill in correct semantic model name" }}
{{ "      #- country_covid_cases  # You need to fill in correct semantic model name" }}
{{ "    #semantic_model_tags: # (List<String>, [Optional]) If semantic model tags is specified here, the relevant semantic models will be given as the context to the LLM." }}
{{ "      #- covid  # You need to fill in correct semantic model tag" }}
{% if agent_configuration -%}
    {{ "    configuration:" }}
    {% for line in agent_configuration.split('\n') -%}
        {{ "      " ~ line }}
    {% endfor -%}
{% endif %}