## {{ project.name }}

**Author:** junjiem

**Version:** 0.0.1


### Description

{{ project.description }}


## Models

Models are created to demonstrate the different Semantic Models available, using select SQL and ref.

